.item {
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}